In [36]:
import pandas as pd

In [37]:
interArrTime = [0, 8, 6, 1, 8, 3, 8]
servTime = [4, 1, 4, 3, 2, 4, 0]

In [38]:
events = {}
time = 0
timeCounter = []
for i, item in enumerate(interArrTime):
    try:
        time += item
        timeCounter.append(time)
        events[str(time)] = servTime[i] + time
    except:
        pass

In [39]:
events

{'0': 4, '14': 18, '15': 18, '23': 25, '26': 30, '34': 34, '8': 9}

In [44]:
eventTable = pd.DataFrame({"clock":[], "LQ_t": [], "LS_t": [], "FEL": [], "B": []})

In [45]:
def startSim(eventTable, interArrTime, servTime, events, timeCounter):
    clock = []
    LQ_t = []
    LS_t = []
    FEL = []
    B = []
    MQ_t = []
    time = 0
    busy = 0
    queue = 0
    totalBusyTime = 0
    j = 0
    EL = []
    for i, item in events.items():
        EL.append(("A", int(i)))
        EL.append(("D", events[i]))
    EL.sort(key = lambda x: x[1])
    for i, item in enumerate(EL):
        time = item[1]
        if item[0] == "A":
            if busy:
                queue += 1
            else:
                busy = 1
        if item[0] == "D":
            if busy:
                busy = 0
                totalBusyTime += item[1] - EL[i-1][1]
            elif queue > 0:
                queue -= 1
        clock.append(time)
        print(time, end='\t')
        LQ_t.append(queue)
        print(queue, end='\t')
        LS_t.append(busy)
        print(busy, end = '\t')
        print(totalBusyTime, end='\t')
        FEL.append([EL[i+1:i+3]])
        print(EL[i+1:i+3])
        B.append(totalBusyTime)
    eventTable["clock"] = clock
    eventTable["LQ_t"] = LQ_t
    eventTable["LS_t"] = LS_t
    eventTable["FEL"] = FEL
    eventTable["MQ_T"] = eventTable["LQ_t"].cumsum()
    eventTable["B"] = B

In [46]:
startSim(eventTable, interArrTime, servTime, events, timeCounter)

0	0	1	0	[('D', 4), ('A', 8)]
4	0	0	4	[('A', 8), ('D', 9)]
8	0	1	4	[('D', 9), ('A', 14)]
9	0	0	5	[('A', 14), ('A', 15)]
14	0	1	5	[('A', 15), ('D', 18)]
15	1	1	5	[('D', 18), ('D', 18)]
18	1	0	8	[('D', 18), ('A', 23)]
18	0	0	8	[('A', 23), ('D', 25)]
23	0	1	8	[('D', 25), ('A', 26)]
25	0	0	10	[('A', 26), ('D', 30)]
26	0	1	10	[('D', 30), ('A', 34)]
30	0	0	14	[('A', 34), ('D', 34)]
34	0	1	14	[('D', 34)]
34	0	0	14	[]

In [47]:
eventTable

    clock  LQ_t  LS_t                   FEL   B  MQ_T
0       0     0     1    [[(D, 4), (A, 8)]]   0     0
1       4     0     0    [[(A, 8), (D, 9)]]   4     0
2       8     0     1   [[(D, 9), (A, 14)]]   4     0
3       9     0     0  [[(A, 14), (A, 15)]]   5     0
4      14     0     1  [[(A, 15), (D, 18)]]   5     0
5      15     1     1  [[(D, 18), (D, 18)]]   5     1
6      18     1     0  [[(D, 18), (A, 23)]]   8     2
7      18     0     0  [[(A, 23), (D, 25)]]   8     2
8      23     0     1  [[(D, 25), (A, 26)]]   8     2
9      25     0     0  [[(A, 26), (D, 30)]]  10     2
10     26     0     1  [[(D, 30), (A, 34)]]  10     2
11     30     0     0  [[(A, 34), (D, 34)]]  14     2
12     34     0     1           [[(D, 34)]]  14     2
13     34     0     0                  [[]]  14     2